# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.venv/
painelsolardoroberto-b91100c3eb75.json
.streamlit/secrets.toml
service_account.json
C:\codigos\github\painelsolardoroberto\Projects\src\arduino_secrets.h